# Python requirements converted from Gemfile\n# Manual review recommended\n\n# simplecov - needs manual mapping\n# redcarpet - needs manual mapping\n# yard - needs manual mapping\n# pry-byebug - needs manual mapping\n# debug - needs manual mapping\n# octokit - needs manual mapping\n# memory_profiler - needs manual mapping\n# ruby-prof - needs manual mapping\n# metasploit-aggregator - needs manual mapping\n# license_finder - needs manual mapping\n# rake - needs manual mapping\n# rspec-rails - needs manual mapping\n# rspec-rerun - needs manual mapping\nflake81.75.7\n# test-prof - needs manual mapping\n# factory_bot_rails - needs manual mapping\n# fivemat - needs manual mapping\n# allure-rspec - needs manual mapping\n# timecop - needs manual mapping\n\n# Common Python packages for pentesting\nrequests>=2.28.0\npycryptodome>=3.15.0\nparamiko>=2.11.0\nscapy>=2.5.0\nimpacket>=0.10.0\npwntools>=4.9.0